name: Complex Workflow Automation Test

on:
  workflow_dispatch:
    inputs:
      env_id: 
        description: 'Environment ID (nhập a để skip job 4,5)'
        required: true
        default: 'b'
      simulate_fail_at:
        description: 'Chọn Job muốn giả lập lỗi (job1, job2...)'
        required: false
        default: 'none'
        type: choice
        options:
          - none
          - job1
          - job2
          - job3
          - job4
          - job5

jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.step1.outputs.data }}
    steps:
      - id: step1
        run: |
          echo "Processing Job 1..."
          if [[ "${{ inputs.simulate_fail_at }}" == "job1" ]]; then exit 1; fi
          echo "data='Data from Job 1'" >> $GITHUB_OUTPUT

  job2:
    needs: job1
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.step2.outputs.data }}
    steps:
      - id: step2
        run: |
          echo "Previous data: ${{ needs.job1.outputs.data }}"
          if [[ "${{ inputs.simulate_fail_at }}" == "job2" ]]; then exit 1; fi
          echo "data='Data from Job 2'" >> $GITHUB_OUTPUT

  job3:
    needs: job2
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.step3.outputs.data }}
    steps:
      - id: step3
        run: |
          if [[ "${{ inputs.simulate_fail_at }}" == "job3" ]]; then exit 1; fi
          echo "data='Data from Job 3'" >> $GITHUB_OUTPUT

  job4:
    needs: job3
    runs-on: ubuntu-latest
    if: ${{ inputs.env_id != 'a' }}
    outputs:
      data: ${{ steps.step4.outputs.data }}
    steps:
      - id: step4
        run: |
          if [[ "${{ inputs.simulate_fail_at }}" == "job4" ]]; then exit 1; fi
          echo "data='Data from Job 4'" >> $GITHUB_OUTPUT

  job5:
    needs: job4
    runs-on: ubuntu-latest
    if: ${{ inputs.env_id != 'a' }}
    outputs:
      data: ${{ steps.step5.outputs.data }}
    steps:
      - id: step5
        run: |
          if [[ "${{ inputs.simulate_fail_at }}" == "job5" ]]; then exit 1; fi
          echo "data='Data from Job 5'" >> $GITHUB_OUTPUT

  job6:
    runs-on: ubuntu-latest
    needs: [job1,job2, job3, job4, job5]
    if: always() && needs.job1.result == 'success'
    steps:
      - name: Determine Latest Data
        run: |
          RESULT="${{ (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) && 'failure' || 'success' }}"
          echo "Final Status: $RESULT"

  job7:
    runs-on: ubuntu-latest
    needs: [job1, job2, job3, job4, job5]
    if: always() && needs.job1.result == 'success'
    steps:
      - run: |
          RESULT="${{ (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) && 'failure' || 'success' }}"
          echo "Final Status: $RESULT"