name: Complex Workflow Automation Test

on:
  workflow_dispatch:
    inputs:
      env_id: 
        description: 'Environment ID (nhập a để skip job 4,5)'
        required: true
        default: 'prd'
        type: choice
        options:
          - prd
          - stg
          - dev01
          - dev02
          - stg02
          - red01

jobs:
  job0:
    runs-on: ubuntu-latest
    outputs:
      runner: ${{ steps.set_runner.outputs.runner }}
    steps:
      - id: set_runner
        run: |
          if [[ "${{ inputs.env_id }}" == "prd" || "${{ inputs.env_id }}" == "stg" ]]; then
            echo "runner=ubuntu-latest" >> $GITHUB_OUTPUT
          else
            echo "runner=ubuntu-slim" >> $GITHUB_OUTPUT
          fi

  job1:
    needs: job0
    runs-on: ${{ needs.job0.outputs.runner }}
    outputs:
      data: ${{ steps.step1.outputs.data }}
    steps:
      - id: step1
        run: |
          if [[ "${{ inputs.env_id }}" == "prd" || "${{ inputs.env_id }}" == "stg" ]]; then
            echo "data='Data from Production Environment'" >> $GITHUB_OUTPUT
            RUNNER="${{ needs.job0.outputs.runner }}"
          else
            echo "data='Data from Non-Production Environment'" >> $GITHUB_OUTPUT
          fi

  e2e_testing:
    needs: job0
    runs-on: ${{ needs.job0.outputs.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run Datadog Synthetic tests
        uses: DataDog/synthetics-ci-github-action@v3.8.2
        with:
          api-key: ${{secrets.DD_API_KEY}}
          app-key: ${{secrets.DD_APP_KEY}}
          public-ids: |
            3dj-767-5yk
            yae-uhy-ahy

  job2:
    needs: job1
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.step2.outputs.data }}
    steps:
      - id: step2
        run: |
          echo "Previous data: ${{ needs.job1.outputs.data }}"
          if [[ "${{ inputs.simulate_fail_at }}" == "job2" ]]; then exit 1; fi
          echo "data='Data from Job 2'" >> $GITHUB_OUTPUT

  job3:
    needs: job2
    runs-on: ubuntu-latest
    outputs:
      data: ${{ steps.step3.outputs.data }}
    steps:
      - id: step3
        run: |
          if [[ "${{ inputs.simulate_fail_at }}" == "job3" ]]; then exit 1; fi
          echo "data='Data from Job 3'" >> $GITHUB_OUTPUT

  job4:
    needs: job3
    runs-on: ubuntu-latest
    if: ${{ inputs.env_id != 'a' }}
    outputs:
      data: ${{ steps.step4.outputs.data }}
    steps:
      - id: step4
        run: |
          if [[ "${{ inputs.simulate_fail_at }}" == "job4" ]]; then exit 1; fi
          echo "data='Data from Job 4'" >> $GITHUB_OUTPUT

  job5:
    needs: job4
    runs-on: ubuntu-latest
    if: ${{ inputs.env_id != 'a' }}
    outputs:
      data: ${{ steps.step5.outputs.data }}
    steps:
      - id: step5
        run: |
          if [[ "${{ inputs.simulate_fail_at }}" == "job5" ]]; then exit 1; fi
          echo "data='Data from Job 5'" >> $GITHUB_OUTPUT

  job6:
    runs-on: ubuntu-latest
    needs: [job1,job2, job3, job4, job5]
    if: always() && needs.job1.result == 'success'
    steps:
      - name: Determine Latest Data
        run: |
          RESULT="${{ (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) && 'failure' || 'success' }}"
          echo "Final Status: $RESULT"

  job7:
    runs-on: ubuntu-latest
    needs: [job1, job2, job3, job4, job5]
    if: always() && needs.job1.result == 'success'
    steps:
      - run: |
          RESULT="${{ (contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) && 'failure' || 'success' }}"
          echo "Final Status: $RESULT"